In [20]:
x = 10+5
print(x)

15

In [21]:
x = 10-5
print(x)

5

In [22]:
x = x - 3
print(x)

2

In [23]:
x = x ** 3
print(x)

8

In [24]:
x=6
y=3
print(x / y)

2.0

In [25]:
x=5
y=2
print(x // y)

2

In [26]:
x = x // 3
print(x)

1

In [27]:
x = x ^ 3
print(x)

2

In [28]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [29]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [30]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [31]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [32]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [33]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [34]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [35]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [37]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [38]:
thislist = ["apple", "banana", ]
mylist = list(thislist)
print(mylist)

['apple', 'banana']

In [40]:
list1 = ["a", "b" , "c"]
list2 = [1, 5, 7]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 5, 7]

In [41]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [42]:
thislist = ["apple", "papaya", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'papaya', 'cherry', 'kiwi', 'orange']

In [43]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 2004,
  "colors": ["red", "white", "green"]
}

print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 2004, 'colors': ['red', 'white', 'green']}

In [44]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 2001
}

x = car.keys()

print(x) #before the change

car["color"] = "blue"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [45]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["year"] = 2022

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [47]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["year"]
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [48]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 2022
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [49]:
child1 = {
  "name" : "Emil",
  "year" : 2004 
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

child4 = {
  "name" : "Linus",
  "year" : 2019
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3,
  "child4" : child4
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}, 'child4': {'name': 'Linus', 'year': 2019}}